.main-content {
    .platform-welcome {
        background-color: #fff;
        position: relative;
        height: 100vh;
        .welcome-content {
            height: 343px;
            width: 850px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            .banner {
                float: left;
                width: 480px;
                margin-right: 120px;
            }
            .banner-content {
                float: left;
                line-height: 50px;
                display: table;
                height: 100%;
                .center {
                    display: table-cell;
                    vertical-align: middle;
                    .title {
                        font-size: 36px;
                        font-weight: bold;
                    }
                    .content {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .img-bg {
        width: 100%;
        height: 10vh;
        background: url('../assets/images/logo-fp.png') no-repeat;
        background-color: cornflowerblue;
    }
}